:root {

  --yellow: #EE9B00;
  --alloy-orange: #CA6702;
  --dark-orange: #BB3E03;
  --red: #AE2012;
  --dark-red: #9B2226;
  --pale: #E9D8A6;
  --light-blue-green: #94D2BD;
  --blue-green: #0A9396;
  --blue: #005F73;
  --black: #001219;

  --serif: Cormorant Garamond;
  --sans-serif: Alegreya Sans;
  --title-font-weight: 700;
  --p-font-weight: 500;
  --title-size: 3rem;
}
* {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}
@media only screen and (min-device-width: 480px) { * {font-size: 12pt;}}


html {
  scroll-behavior: smooth;
  scroll-margin-top: 8rem;
  background-color: lightgrey;
}

h1, h1 span{
  font-family: var(--serif);
  font-weight: var(--title-font-weight);
  font-size: var(--title-size);
}

@media (min-width:800px)  {
  h1, h1 span {
    font-size: 3rem;
  }
}

p {
  font-family: var(--sans-serif);
  font-weight: var(--p-font-weight);
}

//----------------------- Header ---------------------------//

header {
  display: flex;
  flex-flow: row;
  justify-items: center;
  align-items: center;
  grid-area: header;
  width: 100%;
  height: 3rem;
  background: var(--black);
  position:fixed;
  top: 0;
  z-index: 1;
  row-gap: 0;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a img {
  height: 2rem;
  margin-left: 0.5rem
}
#name_logo {
  height: 1rem;
}
header ul {
  display: flex;
  flex-flow: row;
  list-style: none;
  position: fixed;
  right: 0;
  text-decoration: none;
}
header ul li {
  margin: 0 1.2rem;
}
header ul li a {
  color: var(--pale);
  text-decoration: none;
  font-family: var(--sans-serif), sans-serif;
  font-weight: var(--p-font-weight);
}

//----------------------- Splash Screen ---------------------------//

.splash_screen {
  height: 100vh;
  display: grid;

  grid-template-columns: repeat(auto-fit, 500px);
  //grid-template-rows: repeat(auto-fit, 500px);
  gap: 1rem;
  //padding: 5rem 0;


  justify-content: center;
  align-content: center;
  grid-area: splash_screen;
  background-color: var(--black);
  background-image: url("./images/background design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  //z-index: 3;
}

.splash_screen_card h1 {
  color: var(--pale);
  font-size: clamp(2rem, 3rem, 20rem);
  font-weight: 500;
  font-size: 3rem;
  //justify-self: center;
  //align-self: center;
  padding: 0 3rem;
  //text-align: center;
  text-shadow: 2px 2px 2px #000405;
}

.splash_screen_card p {
  color: var(--pale);
  font-family: var(--sans-serif);
  font-weight: 300;
  font-size: 1.5rem;
  //justify-self: center;
  //align-self: center;
  padding: 1rem 3rem;
  color: var(--pale);
  //text-align: center;
  text-shadow: 2px 2px 2px #000405;
  mmargin: 3rem;
}

.splash_screen video {
  width: 100%;
  //padding: 1rem;
  margin: auto;
  border: 1px solid var(--pale);
  border-radius: 6px;
  box-shadow: 3px 3px 15px 1px rgba(233,216,166, 0.09);
}



//-------------------- Divider ----------------------//

.divider {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--black);
  width: 100%;
  height: 2px;
  margin: 10px 0;
  align-self: center;
}


@media (min-width:600px)  {
  .divider{
    width: 2px;
    height: 25rem;
    margin: 0 10px;
  }

}

.splash_screen_divider{
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--yellow);
  width: 80%;
  height: 2px;
  margin: 1rem 3rem;
  align-self: center;
}

.main_screen_divider{
  background-color: var(--black);
  width: 90vw;
  height: 3px;
  margin: 3rem auto;
  align-self: center;
}
//-------------------- Text Container ---------------//

.text_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: inherit;
}

.text_container_invert {
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: var(--pale);
}

.text_container h1 {
  margin-right: 20%;
  margin-bottom: 2%;
}

.text_container h1 span {
  color: var(--yellow);
}

//-------------------- Card -------------------------//

.card {
  display: flex;
  //position: sticky;
  //top: 15%;
  flex-flow: column;
  justify-content: center;
  margin: 2rem auto;
  width: 80vw;
  background: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width:600px)  {
  .card {
    flex-flow: row;
    height: 100%;
    width: min(80vw, 60rem);
    margin: 2rem auto;
  }
}

.card img {
  width: 25rem;
  margin: auto;

}

.invert {
  background-color: var(--black);
  color: var(--pale);
}
// ----------------- About us -------------------//

#about_us{scroll-margin-top: 5rem;}



// ----------------- Statement Box ---------------//


.statement_box {
  grid-area: statement;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  font-family: var(--serif), Helvetica;

  margin: 5% 0% 5% 0%;
  padding: 6rem 0 6rem 0;
  height: 35%;
  background-color: var(--black);
  color: var(--black);
  z-index: 9;
  scroll-margin-top: 2.8rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 -4px 8px 0 rgba(0,0,0,0.2);
}

.statement_box h1 {
  font-size: 3rem;
  text-align: center;
  width: 40%;
  font-weight: var(--title-font-weight);
  align-self: center;
  color: var(--pale);

}

.statement_box p {
  text-align: center;
  margin: 2% 25% 0 25%;
  font-family: var(--sans-serif), Helvetica;
  font-weight: var(--p-font-weight);
  font-size: 1rem;
  color: var(--pale);

}

//----------------- Tech ------------------//

.tech_card {
  justify-content: center;
  display: flex;
  flex-flow: column;
  padding: 2rem 0;

  background-color: white;
  margin: 0 5% 5% 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.technologies {
  margin: 0 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;

}


.technologies p {
  font-family: var(--sans-serif), Arial;
  font-size: 1rem;
  color: var(--black);
  font-weight: var(--p-font-weight);
  margin: max(1rem, 1.5%) 5% 0 5%;
  text-align: center;
}

.technologies img {
  width: 70%;
  margin: 0 auto;
}

.technologies h1 {
  font-family: var(--sans-serif), Arial;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black);
  font-weight: var(--title-font-weight);;
  margin-top: max(1rem, 1.5%);
}

// -------------------- Bottom ---------------------//

#footer_container {
  display: grid;
  flex-flow: row;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-template-rows: 1fr;
  justify-content: center;
  background-color: var(--black);
  color: var(--black);
  margin: 3% auto 0 auto;
  padding: 10% 0;
}

.footer {
  display: flex;
  color: var(--pale);
  font-size: 1rem;
  height: 8rem;
  //justify-content: center;
  //align-content: space-between;

}

.footer ul {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: auto;

}
.footer img {
  //margin-right: 3rem;
  position: sticky;
  top: 33%;
  margin: 0 3rem 0% 0.5rem;
  height: 7rem;
  width: auto;
}

#form-container h1 {
  color: var(--pale);
}


// ------------------ form -----------//

form {
  display: grid;
  grid-template-areas:
  "firstname lastname"
  "email email"
  "message message";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 5fr;
  margin: 7% auto;
  //width: 100%;

  grid-gap: 20px;

  color: #E9D8A6;
  font-family: var(--sans-serif);
  //margin: 15% 0 15% 0 ;
}

form h1 {
  color: var(--pale);
}

#firstname {
  grid-area: firstname;
}

#lastname {
  grid-area: lastname;
}

#email {
  grid-area: email;
}

#message {
  grid-area: message;
}

input, textarea {
  color: var(--pale);
  border:none;
  border-bottom: 0.75px solid var(--pale);
  margin  : 0;
  background : none;
}

input:focus, textarea:focus {
  border-bottom: 2px solid var(--blue);
  outline: none;
}

form button {
  color: var(--black);
  background-color: var(--pale);
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 1.5rem;
  cursor: pointer;
}